<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
    <link rel="stylesheet" href="/styles/home.css">
</head>
<body>
    <%- include("./partials/header") %>
    <div class="parent">

        <%- include("./partials/sidebar") %>

        <!--Center Navigation Bar-->
        <nav>
            <ul>
                <li> <a href="#">MAIN COURSE</a></li>
                <li><a href="#">APPETIZERS</a></li>
                <li><a href="#">DESSSERTS</a></li>
                <li><a href="#">DRINKS</a></li>
            </ul>
        </nav>
        
        <!--Order Bar-->
        <div class="order">
            <h3>CURRENT ORDER</h3>
            <table>
                <tr>
                    <th>Qty.</th>
                    <th>Item</th>
                    <th>Amount</th>
                </tr>
                <tr>
                    <!-- <% menu.forEach((item) => { %> 
                        <td><%= JSON.stringify(item.prod_id) %></td> 
                    <% }); %> -->
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
            <button onclick="showbox()">Payment</button>
        </div>
    </div>
    <div class = "Pop-up"><input type="button" value=" "></div>
    <!--Products Container-->
    <div id="prod-list" class="prod-list">
        <% menu.forEach((item) => { %> 
            <div class="products">
                <img src="/images/p.jpg" alt="">
                <p><%= JSON.stringify(item.prod_name) %></p>
            </div> 
        <% }); %>
    </div>
    <!-- <script src="/script/script.js"></script> -->

    <!--linking Icons-->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>