<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/popup.css">
</head>
<body>
    <%- include("./partials/header") %>
    <div class="parent">

        <%- include("./partials/sidebar") %>

        <!--Center Navigation Bar-->
        <nav>
            <ul>
                <li> <a href="#">MAIN COURSE</a></li>
                <li><a href="#">APPETIZERS</a></li>
                <li><a href="#">DESSSERTS</a></li>
                <li><a href="#">DRINKS</a></li>
            </ul>
        </nav>
        
        <!--Order Bar-->
        <div class="order">
            <h3>CURRENT ORDER</h3>
            <div class="order-child"></div>
            <div class="payment-breakdown">
                <table>
                    <tr>
                        <th>SUBTOTAL</th>
                        <td id="subtotal">₱ 0.00</td>
                    </tr>
                    <tr>
                        <th>SERVICE CHARGE</th>
                        <td id="sc">₱ 0.00</td>
                    </tr>
                </table>
                <div class="breakdown">
                    <h4>TOTAL:</h4>
                    <h4 id="total">₱ 0.00</h4>
                </div>
                
                <button onclick="resetOrder()" class="cancel-btn">CANCEL</button>
                <button class="place-order-btn Click-here">PLACE ORDER</button>
            </div>
        </div>
    </div>
    <!-- <div class = "Pop-up"><input type="button" value=" "></div> -->

    <!-- POP UP BOX -->      
    <div class="custom-model-main">
        <div class="custom-model-inner">        
        <div class="close-btn">×</div>
            <div class="custom-model-wrap">
                <div class="pop-up-content-wrap">
                    <h2>CUSTOMER PAYMENT</h2>
                    <form action=""  method="post" id="payment-form">
                        <h3>Amount Payable: <span id="amt-payable">₱ 0.00</span></h3>
                        <h3>Amount Received: </h3>
                        <input type="number" id="custPayment"><br>
                        <button onclick="processPymnt()">Submit</button>
                    </form>
                    

                </div>
            </div>  
        </div>  
        <div class="bg-overlay"></div>
    </div> 

    <!--Products Container-->
    <div id="prod-list" class="prod-list">
        <% menu.forEach((item) => { %> 
            <div class="products">
                <img src="/images/p.jpg" alt="">
                <p><%= JSON.stringify(item.prod_name).toUpperCase().replace(/["]/g, '') %></p>
                
                <button onclick="addToOrder(<%= JSON.stringify(item.prod_name) %>)">ADD</button>
            </div> 
        <% }); %>
    </div>
    <!-- <script src="/script/script.js"></script> -->

    <!--linking Icons-->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="/script/popup.js"></script>
    <script>
        let order = [];
        let total = 0;
        
        const orderBox = document.querySelector('.order-child')
        let subtotal = document.getElementById('subtotal');
        let sc = document.getElementById('sc');
        let displayTotal = document.getElementById('total');
        let amtPayable = document.getElementById('amt-payable');
        let custPayment = document.getElementById('custPayment');

        var form = document.getElementById("payment-form");
        function handleForm(event) { event.preventDefault(); } 
        form.addEventListener('submit', handleForm);

        function addToOrder(name){
            let custOrder = {
                name: name,
                qty: 1,
                size: 's',
                amt: 100
            };
            order.push(custOrder);
            createCList(name);
            computeTotal();
            console.log("added " + JSON.stringify(custOrder));

        }

        function createCList(name, img = '/images/p.jpg'){
            const orderList = document.createElement('div');
            orderList.classList.add('order-list');
            orderBox.appendChild(orderList);

            const orderImg = document.createElement('img');
            orderImg.src = img;
            orderImg.classList.add('order-img');
            orderList.appendChild(orderImg);

            const orderLabel = document.createElement('span');
            orderLabel.innerHTML = name;
            orderLabel.classList.add('order-label');
            orderList.appendChild(orderLabel);
        }

        function placeOrder(){
            console.log(order);
            order = [];
            resetOrder();
        }

        function resetOrder(){  
            order = [];
            let orderLength = orderBox.children.length;

            for(let i = 1; i <= orderLength; i++){
                orderBox.removeChild(orderBox.childNodes[0]);
            }
            
            subtotal.innerHTML = '₱ 0.00';
            sc.innerHTML = '₱ 0.00';
            displayTotal.innerHTML = '₱ 0.00';
            
            custPayment.value = '';
        }

        function computeTotal(){
            let subtotal = 0;
            let scAmt = 0.0;
            
            for(let i = 0; i < orderBox.children.length; i++){
                subtotal += order[i].amt;
            }

            scAmt = subtotal * 0.1;
            total = subtotal + scAmt;
            subtotal = '₱ ' + subtotal;

            sc.innerHTML = '₱ ' + scAmt;
            displayTotal.innerHTML = '₱ ' + total;
            amtPayable.innerHTML = '₱ ' + total;
        }

        function processPymnt(){
            const custPayment = parseInt(document.getElementById('custPayment').value);
            
            if(custPayment < total){
                window.alert('Insufficient Payment');
            }else{
                fetch('http://localhost:3000/orders', {
                method: "POST",
                body: JSON.stringify(order),
                headers: {
                    "Content-Type": "application/json"
                },
                credentials: "same-origin"
                }).then(function(response) {
                    if(response.redirected){
                        window.alert('Order unsuccessful. Please log-in to continue.')
                    }else{

                    }
                    return response;
                },function(error) {
                    console.log(error.message);
                })
            }
        }
    </script>
</body>
</html>