<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
    <link rel="stylesheet" href="/styles/home.css">
</head>
<body>
    <%- include("./partials/header") %>
    <div class="parent">

        <%- include("./partials/sidebar") %>

        <!--Center Navigation Bar-->
        <nav>
            <ul>
                <li class="selected-tab main"> <a>MAIN COURSE</a></li>
                <li class="appetizer"><a>APPETIZERS</a></li>
                <li class="dessert"><a>DESSERTS</a></li>
                <li class="drinks"><a href="#">DRINKS</a></li>
            </ul>
        </nav>
        
        <!--Order Bar-->
        <div class="order">
            <h3>CURRENT ORDER</h3>
            <div class="order-child"></div>
            <div class="payment-breakdown">
                <table>
                    <tr>
                        <th>SUBTOTAL</th>
                        <td id="subtotal">₱ 0.00</td>
                    </tr>
                    <tr>
                        <th>SERVICE CHARGE</th>
                        <td id="sc">₱ 0.00</td>
                    </tr>
                </table>
                <div class="breakdown">
                    <h4>TOTAL:</h4>
                    <h4 id="total">₱ 0.00</h4>
                </div>
                
                <button onclick="resetOrder()" class="cancel-btn">CANCEL</button>
                <button class="place-order-btn Click-here">PLACE ORDER</button>
            </div>
        </div>
    </div>
    <!-- <div class = "Pop-up"><input type="button" value=" "></div> -->

    <!-- POP UP BOX -->      
    <div class="custom-model-main">
        <div class="custom-model-inner">        
        <div class="close-btn">×</div>
            <div class="custom-model-wrap">
                <div class="pop-up-content-wrap">
                    <h2>CUSTOMER PAYMENT</h2>
                    <form action=""  method="post" id="payment-form">
                        <h3>Amount Payable: <span id="amt-payable">₱ 0.00</span></h3>
                        <h3>Amount Received: </h3>
                        <input type="number" id="custPayment"><br>
                        <button onclick="processPymnt()">Submit</button>
                    </form>
                    

                </div>
            </div>  
        </div>  
        <div class="bg-overlay"></div>
    </div> 

    <!--Products Container-->
    <div id="prod-list" class="prod-list">
        <% menu.forEach((item) => { %> 
            <div class=
            "products show_button  
            <%= JSON.stringify(item.prod_name).replace(/ /g, '_').replace(/["]/g, '') %>_box 
            <%= JSON.stringify(item.prod_category).replace(/["]/g, '') %>_item">
            
                <img src="/images/p.jpg" alt="">
                
                    <p><%= JSON.stringify(item.prod_name).toUpperCase().replace(/["]/g, '') %></p>
                    <p class="prod-price">₱ <%= JSON.stringify(item.prod_price)%></p>
                
                <button onclick="addToOrder(<%= JSON.stringify(item.prod_name) %>,<%= item.prod_price %>)"
                    class="<%= JSON.stringify(item.prod_name).replace(/ /g, '_').replace(/["]/g, '') %>_btn">ADD</button>
            </div>
        <% }); %>

    </div>
    <!-- <script src="/script/script.js"></script> -->

    <!--linking Icons-->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="/script/popup.js"></script>
    <script>
        let order = [];
        let total = 0;
        
        const orderBox = document.querySelector('.order-child')
        let displaySubtotal = document.getElementById('subtotal');
        let sc = document.getElementById('sc');
        let displayTotal = document.getElementById('total');
        let amtPayable = document.getElementById('amt-payable');
        let custPayment = document.getElementById('custPayment');

        var form = document.getElementById("payment-form");
        function handleForm(event) { event.preventDefault(); } 
        form.addEventListener('submit', handleForm);

        function addToOrder(name, price=100){
            let custOrder = {
                name: name,
                qty: 1,
                size: 's',
                amt: price
            };
            order.push(custOrder);
            createCList(name, price, order.length-1);
            computeTotal();
            console.log("added " + JSON.stringify(custOrder));
            
            document.querySelector(`.${name.replace(/ /g, '_')}_btn`).innerHTML = 'ADDED';
            document.querySelector(`.${name.replace(/ /g, '_')}_btn`).disabled = true;
            document.querySelector(`.${name.replace(/ /g, '_')}_box`).classList.remove('show_button');
            document.querySelector(`.${name.replace(/ /g, '_')}_box`).classList.add('product_ordered');
        }

        function createCList(name,price,index,img = '/images/p.jpg'){
            const orderList = document.createElement('div');
            orderList.classList.add('order-list');
            orderBox.appendChild(orderList);

            const orderImg = document.createElement('img');
            orderImg.src = img;
            orderImg.classList.add('order-img');
            orderList.appendChild(orderImg);

            const orderLbl = document.createElement('div');
            orderLbl.classList.add('order-label');
            orderList.appendChild(orderLbl);

            const orderItemName = document.createElement('span');
            orderItemName.innerHTML = name;
            orderItemName.classList.add('order-item-name');
            orderLbl.appendChild(orderItemName);

            const orderPrice = document.createElement('span');
            orderPrice.innerHTML = '₱ ' + price;
            orderPrice.classList.add('order-price');
            orderLbl.appendChild(orderPrice);

            const qtyBox = document.createElement('div');
            qtyBox.classList.add('qty-box');
            orderList.appendChild(qtyBox);

            const qtyHeading = document.createElement('h4');
            qtyHeading.innerHTML = 'QTY';
            qtyBox.appendChild(qtyHeading);

            const qtyCountBox = document.createElement('div');
            qtyCountBox.classList.add('qty-count-box');
            qtyBox.appendChild(qtyCountBox);

            const origPrice = order[index].amt;

            const qtyCountBtnMinus = document.createElement('button');
            qtyCountBtnMinus.classList.add('qty-count-btn');
            qtyCountBtnMinus.innerHTML = '-';
            qtyCountBox.appendChild(qtyCountBtnMinus);

            qtyCountBtnMinus.addEventListener('click',()=>{
                if(order[index].qty>1){
                    order[index].qty--;
                    order[index].amt = order[index].qty * origPrice;
                    qtyCountLbl.innerHTML=order[index].qty;
                    orderPrice.innerHTML = '₱ ' + order[index].amt;
                    computeTotal();
                }
            })

            const qtyCountLbl = document.createElement('span');
            qtyCountLbl.classList.add('qty-count-lbl');
            qtyCountLbl.innerHTML = '1';
            qtyCountBox.appendChild(qtyCountLbl);

            const qtyCountBtnAdd = document.createElement('button');
            qtyCountBtnAdd.classList.add('qty-count-btn');
            qtyCountBtnAdd.innerHTML = '+';
            qtyCountBox.appendChild(qtyCountBtnAdd);
            
            qtyCountBtnAdd.addEventListener('click',()=>{
                order[index].qty++;
                order[index].amt = order[index].qty * origPrice;
                qtyCountLbl.innerHTML=order[index].qty;
                orderPrice.innerHTML = '₱ ' + order[index].amt;
                computeTotal();
            })

            const removeBtn = document.createElement('span');
            removeBtn.innerHTML = 'Remove';
            removeBtn.classList.add('remove-btn')
            qtyBox.appendChild(removeBtn);

            removeBtn.addEventListener('click',()=>{
                orderBox.removeChild(orderList);
                order.splice(index,1);
                computeTotal();
                
                document.querySelector(`.${name.replace(/ /g, '_')}_btn`).innerHTML = 'ADD';
                document.querySelector(`.${name.replace(/ /g, '_')}_btn`).disabled = false;
                document.querySelector(`.${name.replace(/ /g, '_')}_box`).classList.add('show_button');
                document.querySelector(`.${name.replace(/ /g, '_')}_box`).classList.remove('product_ordered');
                
                console.log(order);
            });
        }

        function placeOrder(){
            console.log(order);
            order = [];
            resetOrder();
        }

        function resetOrder(){  
            const menuItems = document.querySelectorAll('.product_ordered');
            
            order = [];
            let orderLength = orderBox.children.length;

            for(let i = 1; i <= orderLength; i++){
                orderBox.removeChild(orderBox.childNodes[0]);
            }

            for(let i = 0; i <= menuItems.length-1; i++){
                menuItems[i].classList.add('show_button');
                menuItems[i].classList.remove('product_ordered');
                const menuBtn = menuItems[i].querySelector('button');
                menuBtn.disabled = false;
                menuBtn.innerHTML = 'ADD';
            }
            
            subtotal.innerHTML = '₱ 0.00';
            sc.innerHTML = '₱ 0.00';
            displayTotal.innerHTML = '₱ 0.00';
            
            custPayment.value = '';
        }

        function computeTotal(){
            let subtotal = 0;
            let scAmt = 0.0;
            
            for(let i = 0; i < orderBox.children.length; i++){
                subtotal += order[i].amt;
            }

            scAmt = subtotal * 0.1;
            total = subtotal + scAmt;

            sc.innerHTML = '₱ ' + scAmt.toFixed(2);
            displaySubtotal.innerHTML = '₱ ' + subtotal.toFixed(2);
            displayTotal.innerHTML = '₱ ' + total.toFixed(2);
            amtPayable.innerHTML = '₱ ' + total.toFixed(2);
        }

        function processPymnt(){
            const custPayment = parseInt(document.getElementById('custPayment').value);
            
            if(custPayment < total){
                window.alert('Insufficient Payment');
            }else{
                fetch('http://localhost:3000/menu', {
                method: "POST",
                body: JSON.stringify(order),
                headers: {
                    "Content-Type": "application/json"
                },
                credentials: "same-origin"
                }).then(function(response) {
                    if(response.redirected){
                        window.alert('Order unsuccessful. Please log-in to continue.');
                    }
                    
                    return response;
                },function(error) {
                    console.log(error.message);
                })
                resetOrder();
            }
        }
    </script>
    <script>
        const li = document.querySelectorAll('li');
        const allItems = document.querySelectorAll('.products');
        const mainItem = document.querySelectorAll('.main_item');
        const appetizerItem = document.querySelectorAll('.appetizer_item');
        const dessertItem = document.querySelectorAll('.dessert_item');
        const drinksItem = document.querySelectorAll('.drinks_item');
        

        for(let i = 0; i <= li.length - 1; i++){
            li[i].addEventListener('click', () => {
                for(let j = 0; j <= li.length - 1; j++){
                    if(li[j].classList.contains('selected-tab')){
                        li[j].classList.remove('selected-tab');
                    }
                }
                li[i].classList.add('selected-tab')
                
                if(li[i].classList.contains('main')){
                    displayMenu('main');
                }else if(li[i].classList.contains('appetizer')){
                    displayMenu('appetizer');
                }else if(li[i].classList.contains('dessert')){
                    displayMenu('dessert');
                }else if(li[i].classList.contains('drinks')){
                    displayMenu('drinks');
                }
            })
        }
        displayMenu();
        function displayMenu(category='main'){
            if(category === 'main'){
                
                allItems.forEach((item)=>{
                    if(item.classList.contains('show-item')){
                        item.classList.remove('show-item');   
                    }
                })
                mainItem.forEach((item)=>{
                    item.classList.add('show-item');
                })

            }else if(category === 'appetizer'){
                allItems.forEach((item)=>{
                    if(item.classList.contains('show-item')){
                        item.classList.remove('show-item');
                    }
                })
                
                appetizerItem.forEach((item)=>{
                    item.classList.add('show-item');
                })

            }else if(category === 'dessert'){
                allItems.forEach((item)=>{
                    if(item.classList.contains('show-item')){
                        item.classList.remove('show-item');
                    }
                })
                
                dessertItem.forEach((item)=>{
                    item.classList.add('show-item');
                })

            }else if(category === 'drinks'){
                allItems.forEach((item)=>{
                    if(item.classList.contains('show-item')){
                        item.classList.remove('show-item');
                    }
                })
                
                drinksItem.forEach((item)=>{
                    item.classList.add('show-item');
                })
            }
        }
    </script>
    <script>

    </script>
</body>
</html>