<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
    <link rel="stylesheet" href="/styles/order.css">
</head>

<body>
    <%- include("./partials/header") %>
    
    <div class="parent">
        <%- include("./partials/sidebar") %>
        
        <div class = "order-container">
            
            <% for(i = 0; i <= orders.length - 1; i++){ %>
                <div class="orderbox">
                    <h1 style="text-align: center;">ORDER # <%= orders[i].order_id %></h1>    
                    <div class="order">  
                        <div style="border-bottom-left-radius: 30px;" class="order-box">
                            <span  style="background-color: #EAF0F0;            
                            border-top-left-radius: 15px;
                            height: 5vh;
                            "><p>ITEM</p></span>
                                    <% orders[i].order_details.forEach((order)=>{ %>
                                        <span><p><%= order.name %></p></span>
                                    <% }) %>
                        </div>
    
                        <div style="border-bottom-right-radius: 30px; " class="order-box">
                            <span style="background-color: #EAF0F0;
                            border-top-right-radius: 15px;
                            height: 5vh;"
                            ><p>QTY</p></span>
                            
                            <% orders[i].order_details.forEach((order)=>{ %>
                                <span><p><%= order.qty %></p></span>
                            <% }) %>
                          
                        </div>
                    </div>
    
                    <div class="buttons-box">
                        <form action="/orders/cancel" method="post" name="delete">
                            <input type="text" name="deleteOrder" value="<%= orders[i].order_id %>" style="display: none;">
                            <button style="background-color: #EC5A5A;">CANCEL ORDER</button>
                            <button style="margin-bottom: 20px;
                            background-color: #8BB5BE;">MARK AS DONE</button>
                        
                        </form>
                        
                    </div>
                </div>   
            <% } %>
            
  
    </div>
</body>
</html>